<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vittorio_zaccaria.alfred_trenitalia</string>
    <key>createdby</key>
    <string>Vittorio Zaccaria</string>
    <key>description</key>
    <string>An alfred extension for checking train times from the CLI</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>alfred-trenitalia</string>
    <key>webaddress</key>
    <string>https://your-git-address-here</string>
    <key>uid</key>
    <string>b98e8ee1-756a-490a-827f-15af7ccc6bfa</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>keyword</key>
          <string>t</string>
          <key>escaping</key>
          <integer>32</integer>
          <key>runningsubtext</key>
          <string>Running alfred-trenitalia...</string>
          <key>script</key>
          <string>/usr/local/bin/node index.js &quot;{query}&quot;</string>
          <key>title</key>
          <string>alfred-trenitalia...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>1e7feb4d-1047-4ae2-88e1-5dc287935419</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>plusspaces</key>
          <false/>
          <key>url</key>
          <string>https://{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>d6150a33-32f0-4a00-b089-1659a36ef2e8</string>
      </dict>
    </array>
    <key>connections</key>
    <dict>
      <key>1e7feb4d-1047-4ae2-88e1-5dc287935419</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>d6150a33-32f0-4a00-b089-1659a36ef2e8</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>uidata</key>
    <dict>
      <key>1e7feb4d-1047-4ae2-88e1-5dc287935419</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>d6150a33-32f0-4a00-b089-1659a36ef2e8</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
  </dict>
</plist>